:root {
    --fonteTitulos: 'Montserrat', sans-serif; /*peso 700 e 600*/
    --fontContent: 'Open Sans', sans-serif; /*300 400*/
}

body {
    font-family: var(--fontContent);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display:flex;
    width: 100vw;
    background-color: red;
    flex-direction: column;
    background-image:url('../images/app-hero-bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-header::before {
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));;
    position:absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.headerArea {
    display: flex;
    width: 100vw;
    background-image: linear-gradient(to right, rgba(32, 40, 119, 1), rgba(55, 46, 149, 1), rgba(83, 49, 177, 1), rgba(114, 48, 205, 1), rgba(150, 41, 230, 1));;
    padding: 10px 2%;
    height: 65px;
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
}

.container-headerArea {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
    margin:auto;
    align-items: center;
}

.logo {
    margin-right: 5%;
}

.logo img {
    width: 120px;
}

nav.menu {
    display: flex;
    flex-wrap: wrap;
}

nav.menu a {
    color:#FFF;
    text-decoration: none;
    margin-right: 20px;
}

.menuToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    display: none;
    cursor: pointer;
}

.menuToggle img {
    width: 40px;
}

.menuMobile {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(32, 40, 119, 1), rgba(55, 46, 149, 1), rgba(83, 49, 177, 1), rgba(114, 48, 205, 1), rgba(150, 41, 230, 1));;
    display:none;
}

.menuMobile a {
    padding:1%;
    color: #FFFFFF;
    text-decoration: none;
}

.menuMobile a:last-child {
    padding-bottom: 2%;
}


section.container {
    max-width: 1080px;
    width: 100%;
    margin: auto;
}

section.headline {
    display: grid;
    grid-template-columns: 1fr auto;
}

.first-headline {
    padding: 15px;
    z-index: 1;
    padding-bottom: 60px;
}

.first-headline h1 {
    font-family: var(--fonteTitulos);
    font-weight: 700;
    font-size: 42px;
    color: #FFFFFF;
    padding-bottom: 20px;
    padding-top: 100px;
}

.first-headline h2 {
    font-weight: 300;
    color:#FFFFFF;
    margin-bottom: 25px;
    font-size: 18px;
}

.form-headline {
    display:flex;
    align-items: center;
    margin-bottom: 25px;
}

input#email {
    padding: 25px 20px;
    border-radius: 50px;
    outline: none;
    color: #737373;
    border: none;
    width: 70%;
    font-size: 18px;
}

.form-headline button {
    padding: 20px;
    margin-left: -124px;
    border-radius: 40px;
    border: none;
    background-color: #6730E3;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
}

.call-action-video-headline {
    display: flex;
    align-items: center;
}

.btn-video {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.btn-video img {
    width: 50px;
    position: absolute;
    top: 0;
    left: 5px;
}

.call-action-video-headline-desc {
    color:#FFFFFF;
}

.second-headline {
    z-index: 1;
    padding-top: 65px;
}

.second-headline img {
    width: 400px;
}

.header-bg-bottom img {
    width: 100%;
    position: absolute;
    bottom: -22px;
}

section.first-area {
    display: grid;
    grid-template-columns: auto;
    margin-top: 5%;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
    margin:auto;
    align-items: center;
}

.firt-area-headline {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding:0 4%;
    max-width: 58.333333%x;
}

section.first-area h2 {
    font-size: 44px;
    text-align: center;
    font-family: var(--fonteTitulos);
    font-weight: 600;
    margin-bottom: 20px;
}

section.first-area h3 {
    text-align: center;
    color: #707070;
}

.features-box-area {
    display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 30px;
    margin: 0 auto;
    margin-top: 50px;
}

.feature-boxes {
    text-align: center;
    padding: 30px;
    box-shadow:1px 1px 20px 4px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

.feature-boxes img {
    width: 150px;
}

.txt-bold {
    font-size: 25px;
    font-family: var(--fonteTitulos);
    font-weight: 600;
    margin-bottom: 20px;
}

.txt-desc {
    font-size: 18px;
    line-height: 30px;
    color: #707070;
}











/*RESPONSIVO*/

@media (max-width: 960px){
    .headerArea {
        z-index: 2;
        position: static;
    }
    
    nav.menu {
        position: absolute;
        top:65px;
        left: 0;
        right: 0;
        background-image: linear-gradient(to right, rgba(32, 40, 119, 1), rgba(55, 46, 149, 1), rgba(83, 49, 177, 1), rgba(114, 48, 205, 1), rgba(150, 41, 230, 1));;
        flex-direction: column;
        text-align: center;
        display: none;
    }

    nav.menu a {
        padding: 1%;
    }

    .menu-hide {
        display:none;
    }
    
    .menu-show {
        display: flex;
    }

    .menuToggle {
        display: block;
    }

    section.headline {
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    .second-headline img {
        width:500px;
    }

    .form-headline {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-headline button {
        margin:auto;
        margin-top:20px;
    }

    .call-action-video-headline {
        justify-content: center;
    }
}

@media (max-width: 380px) {
    .call-action-video-headline {
        flex-direction: column;
    }

    .call-action-video-headline a {
        display: flex;
        order: 1;
        margin-top: 20px;
    }

    input#email,
    .form-headline button {
        width: 100%;
    }

    .second-headline {
        padding-top: 0px;
    }
}

@media (max-width: 768px) {
    .features-box-area {
        grid-template-columns: 1fr;
    }
}